body {
    font-family: "Lato", sans-serif;
}

#grad {
    background: rgba(0, 255, 204, 1);
    background: -moz-linear-gradient(45deg, rgba(0, 255, 204, 1) 0%, rgba(0, 233, 250, 1) 7%, rgba(56, 129, 255, 1) 39%, rgba(56, 129, 255, 1) 50%, rgba(98, 26, 255, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 255, 204, 1)), color-stop(7%, rgba(0, 233, 250, 1)), color-stop(39%, rgba(56, 129, 255, 1)), color-stop(50%, rgba(56, 129, 255, 1)), color-stop(100%, rgba(98, 26, 255, 1)));
    background: -webkit-linear-gradient(45deg, rgba(0, 255, 204, 1) 0%, rgba(0, 233, 250, 1) 7%, rgba(56, 129, 255, 1) 39%, rgba(56, 129, 255, 1) 50%, rgba(98, 26, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 255, 204, 1) 0%, rgba(0, 233, 250, 1) 7%, rgba(56, 129, 255, 1) 39%, rgba(56, 129, 255, 1) 50%, rgba(98, 26, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 255, 204, 1) 0%, rgba(0, 233, 250, 1) 7%, rgba(56, 129, 255, 1) 39%, rgba(56, 129, 255, 1) 50%, rgba(98, 26, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 255, 204, 1) 0%, rgba(0, 233, 250, 1) 7%, rgba(56, 129, 255, 1) 39%, rgba(56, 129, 255, 1) 50%, rgba(98, 26, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffcc', endColorstr='#621aff', GradientType=1);
}

h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.formRight {
    float: right;
    position: 35px;
    padding-left: 35px;
    margin-top: 25px;
}

h4 {
    margin-top: 25px;
    font-weight: bold;
}

a {
    color: black;
    font-weight: bold;
}

#reporter {
    color: white;
}

nav.sidenav a {
    float: left;
    clear: left;
}

nav.sidenav {
    position: fixed;
    background-color: #f3f1f1;
    min-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

nav .nav {
    background: black;
    color: white;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.icon img {
    margin: 20px 10px 10px 15px;
}

.anchorline {
    border-bottom: solid thick #fff;
}

.title {
    color: white;
    text-align: right;
    margin-right: 25px;
    border-bottom: 10px;
    border-bottom-color: white;
    border-bottom: solid;
    padding-bottom: 15px;
    margin-left: 15px;
    padding-bottom: 0px;
}

a.car img {
    width: 250px;
    margin-top: 25px;
    margin-left: 25px;
}

nav.sidenav a.icon img {
    width: 55px;
}

button.orange {
    color: white;
    background: orange;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
}

#chart {
    border: solid 2px #fff;
}

.info1 {
    /*border: solid 2px #fff;*/
}

.leftgutter {
    padding-left: 110px;
}

.submitButton {
    color: white;
    background: slateGrey;
    border: none;
    width: 150px;
    height: 40px;
}


/*SVG*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}


/*axes style*/

.xaxis path, .xaxis line {
    stroke: white;
    fill: none;
    shape-rendering: crispEdges;
}

.xaxis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}

.yaxis path, .yaxis line {
    stroke: white;
    fill: none;
    shape-rendering: crispEdges;
}

.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}

.points {
    fill: white;
    stroke: grey;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}
